In [5]:
#Q1
a= 'pwskills'
b=[1,2,True,5+7j]
c=12.34
d=(1,2,4,6,'string')

In [ ]:
Q2
a=string
b=string
c=lists
d=integer

In [15]:
Q4
L=[1,2,34,345.56,True,5+7j,'abc','pwskills',24,67]
i=0
while(i<len(L)):
    data_type=type(L[i])
    i=i+1
    print('data_type',data_type)

data_type <class 'int'>
data_type <class 'int'>
data_type <class 'int'>
data_type <class 'float'>
data_type <class 'bool'>
data_type <class 'complex'>
data_type <class 'str'>
data_type <class 'str'>
data_type <class 'int'>
data_type <class 'int'>

In [19]:
#Q5
A=int(input('enter the value  of A'))
B=int(input('enter the value of B'))
n=0
if(A%B==0):
    n=n+1
    print('A is purely divisible by B

enter the value  of A 9
enter the value of B 9

A is purely divisible by B
number of times A is divisble by B 1

In [24]:
#Q6
L=[1,2,3,4,5,6,7,8,9,12,1,31,41,516,17,18,18,19,10,34,25,56,78,89,17]
for i in range(0,len(L)):
    if(L[i]%3==0):
        print('it is divisible by 3',L[i])
    else:
        print('it is not divisible by 3',L[i])

it is not divisible by 3 1
it is not divisible by 3 2
it is divisible by 3 3
it is not divisible by 3 4
it is not divisible by 3 5
it is divisible by 3 6
it is not divisible by 3 7
it is not divisible by 3 8
it is divisible by 3 9
it is divisible by 3 12
it is not divisible by 3 1
it is not divisible by 3 31
it is not divisible by 3 41
it is divisible by 3 516
it is not divisible by 3 17
it is divisible by 3 18
it is divisible by 3 18
it is not divisible by 3 19
it is not divisible by 3 10
it is not divisible by 3 34
it is not divisible by 3 25
it is not divisible by 3 56
it is divisible by 3 78
it is not divisible by 3 89
it is not divisible by 3 17

In [29]:
#Q3
a=3/4                                           #    / -it is used for division between two integer or floating datatype
b=10%5                                             #  %- it is used to find remainder in a division
c=4//9                                             # //- it is used for division but the outcome is only in integer datatype
d=3**4                                             # **- it is used for raising power of some int or float datatype
print(a,b,c,d,end=" ")

0.75 0 0 81

In [ ]:
Q7
mutable datatype are those datatype whose value can be changed multiple times at paticular index without assigning
and adding new data type is also possible
immutable datatype whose value cannot be changed without assignment and the value goes to garbage value once assignment is used

In [31]:
L=[1,3,True]
L[-1]=2    # this example of mutable datatype,lists are mutable

In [32]:
L

[1, 3, 2]

In [ ]:
t=(1,2,39)
t[2]=3             # this is example of immutable datatype ,tuples are immutable